*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-color: #202040;
	color: #fff;
}

.cs{
	color: #7971ea;
}

.title{
	text-align: center;
	padding: 2em 0;
}

.btns{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.btn{
	padding: 10px;
	margin: 1em;
	background-color: #7971ea;
	border: none;
	outline: none;
	border-radius: 5px;
	font-weight: bolder;
	color: #fff;
}

.btn_no{
	position: relative;
}

.meme{
	width: 80%;
	display: flex;
	margin: 0 auto;
}
.modal{
	position: absolute;
	top: -100vh;
	transition: all 1s;
	z-index: 400;
	background-color: rgb(0, 0, 0, .3);
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}